{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{# {% if attributes["form_id"] == 'block-content-theme-style-edit-form' %} #}
{% if "block-theme-style-form" in attributes["class"] %}

<form{{ attributes }} onchange="dm_tw_preview();return false">
{{ children }}
</form>

{% else %}

<form{{ attributes }}>
  {{ children }}
</form>
{% endif %}

