<section id="component-container-{{ paragraph.id.value }}" class="bg-purple-100 dark:bg-gray-900 py-10">
<div class="component-content">
<div class="container flex px-8 mx-auto">
    <h2 class="text-2xl text-gray-700 capitalize lg:text-4xl inline-block">{{ paragraph.title.value }}
    </h2>
    <a class="edit-button absolute right-32" data-component-id="{{ paragraph.id.value }}"><i class="fa-solid fa-pencil"></i></a>
</div>
    <div class="container px-8 py-10 mx-auto">

    {% set cards = content|without('title') %}

     {% for item in cards %}

        {{ item }}

     {% endfor %}

    </div>
    <div class="container px-10 py-5 mx-auto">
      {% include "@dm_tw_sub/paragraphs/includes/meraki-ui-modal.html.twig" with {
        'paragraph_id': paragraph.id.value
        } 
      %}
 
</div>
    </div>
</section>
