          <div class="modal z-20 mx-auto" id="modal-{{ paragraph_id }}" style="display: none;">
        <div class="modal-content rounded-3xl px-12 py-8">
            <div class="modal-head w-100 py-2">
            <span class="cursor-pointer close-modal text-red-800 float-right" data-modal-id="{{ paragraph_id }}"><i class="fa-solid fa-circle-xmark"></i></span>
            <span class="text-4xl py-1 text-purple-900 font-semibold">Section Editor &nbsp;&nbsp;&nbsp;<img class="inline" width="30" height="30" src="/themes/custom/dm_tw_sub/assets/ui_icons/pen.png" style="margin-top:-7px;" alt=""></span> <br><br>
            <span class="text-2xl font-semibold py-1">{{ bundle }}</span>
                
            </div>  

                {% set edit_form = drupal_entity_form('paragraph', paragraph_id) %}
                {{ edit_form }}

        </div>
    </div>