{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}



{% if breadcrumb %}

  <nav class="bg-indigo-100 py-3 min-w-full" aria-labelledby="system-breadcrumbs">
   <h2 id="system-breadcrumbs" class="visually-hidden">{{ 'Breadcrumbs'|t }}</h2>
  <div class="container mx-auto px-4">
    <ol class="flex items-center space-x-1 md:space-x-3">
      {% for item in breadcrumb %}
      <li>
        <div>
        {% if item.url %}
          <a href="{{ item.url }}" class="text-indigo-900 hover:text-gray-700 text-sm font-medium">
            {{ item.text }}
          </a>
          {% else %}
              {{ item.text }}
              {% endif %}
        </div>
      </li>
      <li>
        <div class="flex items-center">
          <svg class="w-4 h-4 text-indigo-900 mx-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L11.586 10 7.293 5.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
          </svg>
        </div>
      </li>
      {% endfor %}
    
    </ol>
  </div>
</nav>

{% endif %}
