{#
/**
 * @file
 * Theme implementation to display a Leaflet map.
 *
 * This creates a placeholder for the map to be injected in.
 *
 * Available variables:
 * - map_id
 * - height
 *
 * Note: min-width is set so that a map will show when "Inline" is specified
 * for the associated field label. This may of course be overridden. The default
 * field label style is "Above" with a width of 100%.
 *
 * @ingroup themeable
 *
 */
#}

{% if not map.is_empty %}
<div class="border-indigo-300 px-24"></div>
<div class="border-indigo-400 px-40"></div>
<div class="border-indigo-500"></div>
<div class="border-indigo-600"></div>
<div class="border-indigo-700"></div>
<div class="border-indigo-800"></div>

  {{ attach_library('localgov_base/leaflet') }}
  <div id="{{ map_id }}" style="min-width: 150px; {% if height is not empty %}height: {{ height }}{% endif %}"></div>
{% endif %}
